@model Pcar21.Models.Output

@{
    ViewBag.Title = "Время окупаемостиs";
}

<div>
    <a>Лет: </a>@Html.DisplayFor(model => model.Year)
    <a>Месяцев: </a>@Html.DisplayFor(model => model.Month)
    
</div>
